<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhou.pms.dao.hopm.BuildingMapper">

	<resultMap type="Building" id="BuildingMap">
		<id property="bldId" column="bld_id"/>
		<result property="bldName" column="bld_name"/>
	</resultMap>
  
   <!-- 通过房产ID查所有楼宇 -->
  <select id="getAllBuildingByConsId" resultMap="BuildingMap">
  	select * from tb_building
	where cons_id = #{consId};
  </select>
</mapper>


