<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhou.pms.dao.hopm.ConstructionMapper">

	<resultMap type="Construction" id="ConstructionMap">
		<id property="consId" column="cons_id"/>
		<result property="consName" column="cons_name"/>
	</resultMap>
	
	 <!-- 获取全部房地产经营公司信息 -->
  <select id="getAllConstruction" resultMap="ConstructionMap" >
  	SELECT * FROM tb_construction
  </select>
  
</mapper>


